.dart_tool/
.idea/
.vscode/
android/
build/
ios/
linux/
macos/
test/
web/
windows/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
analysis_options.yaml
*.lock
*.iml
firebase.json
.firebaserc
